// ----------------------
// == Site settings

// ----------------------

// Fonts
$font-1: "Alata", sans-serif;
$font-2: "Josefin Sans", sans-serif;

// = Colors
$white: hsl(0, 0%, 100%);
$dark: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);
// -----------------------------
