/* ===========================
   Menu hamburger
   =========================== */
.menu-hamburger {
  display: none;
}

@media screen and (max-width: 687px) {
  .menu-hamburger {
    display: block;
    &:hover {
      cursor: pointer;
    }
  }
}
